<div class="clearfix">
    <div class="col-md-3">
        <h1 class="grey-dotted-border-bottom">Categories</h1>
        <ul class="nav nav-pills nav-stacked p-t-3">
          {{#each model as |category|}}
              <li class="active"><a href="#">{{category.name}} <span class="badge pull-right">14</span></a></li>
          {{/each}}
        </ul>
    </div>
    <div class="col-md-7">
        <div class="space-left-md">
          {{outlet}}
        </div>
    </div>
</div>