<div id="moose-container" class="container">
    <div class=" m-r-1 m-l-2">
      <div class="row name-logo">
          <div class="col-sm-5">DEEWENDRA</div>
          <div class="col-sm-3">G.</div>
          <div class="col-sm-4">SHRESTHA</div>
      </div>

      <div class="m-y-4">{{navigation-bar}}</div>
      <div class="row">{{outlet}}</div>
    </div>
</div>