<div id="moose-container" class="container">
    <div class="inner-container">
      <div class="row name-logo">
          <div class="col-sm-5">DEEWENDRA</div>
          <div class="col-sm-3">G.</div>
          <div class="col-sm-4">SHRESTHA</div>
      </div>
      {{#sticky-container}}
        {{navigation-bar}}
      {{/sticky-container}}
      <div class="row">{{outlet}}</div>
    </div>
</div>